openstack_client:
  auth:
    auth_url: "http://<monitoring_server_address>/identity/v3"
    username: "admin"
    password: <password>
    project_name: "demo"
    user_domain_id: "default"
    project_domain_id: "default"

  vnf:
    # each vnfs connect two openstack networks, data network and management network
    data_net_id: <data_net_id>
    mgmt_net_id: <mgmt_net_id>
